---
layout: default
title: Home
---

<div class="map">
  <h3 style="text-align: center;" id="mobile-banner"><a href="https://www.google.com/maps/d/viewer?mid=1QqhlN34LiBV7FQZZh5ZzEl4kzpwLKcE" target="_blank">Open in Google Maps</a></h3>
  <iframe width="100%" height="450px" style="margin-bottom: 15px" src="https://www.google.com/maps/d/embed?mid=1QqhlN34LiBV7FQZZh5ZzEl4kzpwLKcE&ehbc=2E312F"></iframe>
</div>

<div class="posts">

<div class="difficulty-selector">
  <label for="cars">I want to see:</label>

  <select name="difficulty" id="hike-difficulty" onchange="difficultySelect()">
    <option value="easy">Easy (3-5mi)</option>
    <option value="moderate">Easy and Moderate (3-7mi)</option>
    <option value="hard" selected>All Hikes</option>
  </select>
</div>

<h3><a href="/east-bay/">East Bay Hikes</a></h3>
<h4>Inner East Bay</h4>

<ul>
{% assign pages_list = site.pages | sort:"url" %}
{% for node in pages_list %}
    {% if node.title != null %}
    {% if node.region == "inner-east-bay" %}
<li class="hike-difficulty-{{ node.difficulty }}"><a href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
    {% endif %}
    {% endif %}
{% endfor %}
</ul>

<h4>Outer East Bay</h4>

<ul>
{% assign pages_list = site.pages | sort:"url" %}
{% for node in pages_list %}
    {% if node.title != null %}
    {% if node.region == "outer-east-bay" %}
<li class="hike-difficulty-{{ node.difficulty }}"><a href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
    {% endif %}
    {% endif %}
{% endfor %}
</ul>

<h4>Southern East Bay</h4>

<ul>
{% assign pages_list = site.pages | sort:"url" %}
{% for node in pages_list %}
    {% if node.title != null %}
    {% if node.region == "southeast-bay" %}
<li class="hike-difficulty-{{ node.difficulty }}"><a href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
    {% endif %}
    {% endif %}
{% endfor %}
</ul>
</div>

<div class="posts">
  <h3><a href="/marin/">Marin County Hikes</a></h3>
  <ul>
  {% assign pages_list = site.pages | sort:"url" %}
  {% for node in pages_list %}
      {% if node.title != null %}
      {% if node.region == "marin" %}
  <li class="hike-difficulty-{{ node.difficulty }}"><a href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
      {% endif %}
      {% endif %}
  {% endfor %}
  </ul>
</div>

<div class="posts">
  <h3><a href="/south-bay/">South Bay Hikes</a></h3>
  <ul>
  {% assign pages_list = site.pages | sort:"url" %}
  {% for node in pages_list %}
      {% if node.title != null %}
      {% if node.region == "south-bay" %}
  <li class="hike-difficulty-{{ node.difficulty }}"><a href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
      {% endif %}
      {% endif %}
  {% endfor %}
  </ul>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
