---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% if page.image %}<img class="hike-photo" src="/assets/{{ page.image }}"><hr>{% endif %}

  {% if page.map-embed -%}
  <div id="map-embed">
    <iframe src="{{ page.map-embed }}" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  {% endif %}

  {%- if page.travel.served != "daily" -%}
  <p class="message">This trailhead is not served seven days a week. Check schedules before leaving.</p>
  {%- endif -%}

  <div class="infobox">
    <p class="message">
      This hike has been rated {% if page.difficulty-human %}{{ page.difficulty-human }}{% else %}{{ page.difficulty }}{% endif %}.
    </p>

    <div class="infobox-child"><a href="{{ page.park-link }}">Park Information</a></div>
    <div class="infobox-child"><span class="infobox-title">Distance</span>: <span class="infobox-value">{{ page.length }}</span></div>

    <div class="infobox-child"><span class="infobox-title">Transit information</span>
    {%- if page.travel.return -%}
      <ul class="infobox-list">
        <li>Routes to the trail:
    {%- endif -%}
          <ul class="infobox-sublist">
          {%- for route in page.travel.out.routes -%}
            <li ><a href="{{ route.link }}">{{ route.name }}</a></li>
          {%- endfor %}
          {% if page.travel.out.stop %}<li>Stop: <a href="{{ page.travel.out.stop.link }}">{{ page.travel.out.stop.name }}</a></li>{% endif %}
          {% if page.travel.out.stops %}{%- for stop in page.travel.out.stops -%}
            <li>Stop for {{ stop.for }}:<br>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ stop.link }}">{{ stop.name }}</a></li>
          {%- endfor -%}{% endif %}
          <li>Travel time{%- if page.travel.return %} out{% endif %}: {{ page.travel.out.time }}</li>
          </ul>
        {%- if page.travel.return -%}
        </li>
        <li>Routes back from the trail:
          <ul class="infobox-sublist">
          {%- for route in page.travel.return.routes -%}
            <li ><a href="{{ route.link }}">{{ route.name }}</a></li>
          {%- endfor %}
          {% if page.travel.return.stop %}<li>Stop: <a href="{{ page.travel.return.stop.link }}">{{ page.travel.return.stop.name }}</a></li>{% endif %}
          {% if page.travel.return.stops %}{%- for stop in page.travel.return.stops -%}
            <li>Stop for {{ stop.for }}:<br>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ stop.link }}">{{ stop.name }}</a></li>
          {%- endfor -%}{% endif %}
          <li>Travel time back: {{ page.travel.return.time }}</li>
          </ul>
        </li>
    </ul>
    {% endif %}
    </div>

    <div class="infobox-child"><span class="infobox-title">Trailhead</span>: <span class="infobox-value"><a href="{{ page.trailhead.link }}">{% if page.trailhead.name %}{{ page.trailhead.name }}{% else %}Open in Maps{% endif %}</a></span></div>
    <div class="infobox-child"><span class="infobox-title">Trailhead served</span>: {% if page.travel.served == "daily" %}all week{% else %} {{ page.travel.served }}{% endif %}</div>
    <div class="infobox-child"><span class="infobox-title">Hike route</span>: <span class="infobox-value">{% if page.hike-link %}<a href="{{ page.hike-link }}">Open in Maps</a>{% endif %}{% if page.gpx %}<a href="/assets/gpx/{{ page.gpx }}">Download GPX file</a>{% endif %}</span></div>
    {% if page.travel.origin %}<div class="infobox-child"><i>Travel times are estimates from {{ page.travel.origin }}.</i></div>{% endif %}
  </div>

  {%- if page.getting-there -%}<p class="message">{{ page.getting-there }}</p>{%- endif -%}

  {{ content }}

  {%- if page.gpx -%}<div class="map" data-gpx="{{ page.gpx }}"></div>{%- endif -%}
  <hr>
</div>
