---
layout: default
title: Home
hasmap: true
---

<div id="map-container">

<div id="ol-map">
  <div id="info"></div>
</div>

<p id="mobile-message">Use two fingers to pan and scroll the map.</p><p id="desktop-message">Hold <em>ctrl</em> and scroll to zoom.</p>

<div id="popup" class="ol-popup">
  <a href="#" id="popup-directions-link" class="ol-popup-link" target="_blank">Open in Maps</a>
  <a href="#" id="popup-hike-link" class="ol-popup-link">Read&nbsp;more&nbsp;»</a>
  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
  <div id="popup-content"></div>
</div>

<div id="filter" class="infobox infobox-filter collapsed">
  <button id="filter-toggle" class="filter-toggle">☰ Map Filters</button>
  <div class="filter-content">
  <div id="filter-trailheads">
  <b>Filter Trailheads</b>
  <form id="filter-form" autocomplete="off">
      <input type="checkbox" id="bus" name="bus" checked />
      <label for="bus">Bus & Light Rail</label>
      <br>
      <input type="checkbox" id="bus-far" name="bus-far" checked />
      <label for="bus-far">Bus & Light Rail (15+min walk)</label>
      <br>
      <input type="checkbox" id="bus-weekday-only" name="bus-weekday-only" checked />
      <label for="bus-weekday-only">Bus (Weekday only)</label>
      <br>
      <input type="checkbox" id="rail" name="rail" checked />
      <label for="rail">Rail & Ferry</label>
      <br>
      <input type="checkbox" id="rail-far" name="rail-far" checked />
      <label for="rail-far">Rail & Ferry (20+min walk)</label>
      <br>
      <input type="checkbox" id="shuttles" name="shuttles" checked />
      <label for="shuttles">Park Shuttles</label>
      <br>
      <input type="checkbox" id="microtransit" name="microtransit" checked />
      <label for="microtransit">Microtransit</label>
      <br>
      <input type="checkbox" id="call-ahead" name="call-ahead" checked />
      <label for="call-ahead">Call-ahead Service</label>
  </form>
  </div>
  <hr>
  <div id="filter-layers">
  <form id="filter-layers-form" autocomplete="off">
    <b>Layers</b><br>
      <input type="checkbox" id="cpad" name="cpad" />
      <label for="cpad">CPAD - Protected Areas</label>
    <hr><b>Show Transit</b><br>
      <input type="checkbox" id="bayarea" name="bayarea" />
      <label for="bayarea">Bay Area</label>
      <br>
      <input type="checkbox" id="tahoe" name="tahoe" />
      <label for="tahoe">Tahoe</label>
      <br>
      <input type="checkbox" id="amtrak" name="amtrak" />
      <label for="amtrak">Amtrak</label>
      <br>
      <input type="checkbox" id="sacrt" name="sacrt"/>
      <label for="sacrt">Sacramento Regional Transit (SacRT)</label>
      <br>
      <input type="checkbox" id="central-valley" name="central-valley" />
      <label for="central-valley">Central Valley</label>
      <br>
      <input type="checkbox" id="other" name="other" />
      <label for="other">Other agencies</label>
      <br>
  </form>
  </div>
  </div>
</div>

</div>
<hr>

<div class="posts">

<h3><a href="/trips/">Hiking Trips</a></h3>

<p>Want to go on a longer trip, and want to explore California's destination parks? Several of our best state and national parks are transit-accessible, including the Redwoods State and National Parks on the North Coast, Yosemite National Park, and Big Basin State Park. <a href="/trips/">Read&nbsp;more&nbsp;»</a></p>

<h3><a href="/san-francisco/">San Francisco Hikes</a></h3>

<p>San Francisco offers fantastic urban hiking within the city limits, plus easy access to some of the great hikes in the inner Bay Area. Explore expansive city parks from one corner of the city clear across to the other on the Crosstown Trail, hop on a ferry to Angel Island, or check out one of the historic forts in the Golden Gate National Recreation area. <a href="/san-francisco">Read&nbsp;more&nbsp;»</a></p>
</div>

<div class="posts">

<h3><a href="/east-bay/">East Bay Hikes</a></h3>

<p>From marshy shorelines, up to the redwood and eucalyptus filled hills perched above the cities of Berkeley and Oakland, and out to the hilly oak grasslands further east, the East Bay is where the sheer variety of ecosystems and climates of the Bay Area show off their full strength. <a href="/east-bay/">Read&nbsp;more&nbsp;»</a></p>

<h4>Inner East Bay</h4>

<p>Hikes in the Berkeley and Oakland Hills, and the Lamorinda area.</p>

<ul>
{%- assign pages_list = site.pages | sort:"url" -%}
{%- for node in pages_list -%}
    {%- if node.title != null -%}
    {% if node.region == "inner-east-bay" %}
    <li class="hike" data-difficulty="{{ node.difficulty }}" data-tags="{{ node.tags }}"><a href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
    {%- endif -%}
    {%- endif -%}
{%- endfor %}
</ul>

<h4>Outer East Bay</h4>

<p>Hikes past Lamorinda, from Danville to Antioch.</p>

<ul>
{%- assign pages_list = site.pages | sort:"url" -%}
{%- for node in pages_list -%}
    {%- if node.title != null -%}
    {% if node.region == "outer-east-bay" %}
    <li class="hike" data-difficulty="{{ node.difficulty }}" data-tags="{{ node.tags }}"><a href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
    {%- endif -%}
    {%- endif -%}
{%- endfor %}
</ul>

<h4>Southern East Bay</h4>

<p>Hikes in the hills around Hayward through Fremont.</p>

<ul>
{%- assign pages_list = site.pages | sort:"url" -%}
{%- for node in pages_list -%}
    {%- if node.title != null -%}
    {% if node.region == "southeast-bay" %}
    <li class="hike" data-difficulty="{{ node.difficulty }}" data-tags="{{ node.tags }}"><a href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
    {%- endif -%}
    {%- endif -%}
{%- endfor %}
</ul>

<h3><a href="/marin/">Marin County Hikes</a></h3>
  <p>Marin County is perhaps the most popular outdoors destination in the Bay Area, and for good reason. A quick trip across the Bay from San Francisco drops you almost immediately in world-famous redwoods, atop mountains with 360° views of San Francisco, Oakland, and far beyond. <a href="/marin/">Read&nbsp;more&nbsp;»</a></p>
  <ul>
    {%- assign pages_list = site.pages | sort:"url" -%}
    {%- for node in pages_list -%}
        {%- if node.title != null -%}
        {% if node.region == "marin" %}
        <li class="hike" data-difficulty="{{ node.difficulty }}" data-tags="{{ node.tags }}"><a href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
        {%- endif -%}
        {%- endif -%}
    {%- endfor %}
    </ul>

<h3><a href="/peninsula/">Peninsula Hikes</a></h3>
  <p>The Peninsula, south of San Francisco, stretches from the graveyards of Colma down to the opulent estate of Fioli, and from the windswept coastal plains of Pacifica through the heart of the Santa Cruz Mountains redwoods to the tidal marshland of the Bay. Discover views of San Francisco, of the vast Pacific Ocean, and towering redwood trees. <a href="/peninsula/">Read&nbsp;more&nbsp;»</a></p>
  <ul>
  {%- assign pages_list = site.pages | sort:"url" -%}
  {%- for node in pages_list -%}
      {%- if node.title != null -%}
      {% if node.region == "peninsula" %}
      <li class="hike" data-difficulty="{{ node.difficulty }}" data-tags="{{ node.tags }}"><a href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
      {%- endif -%}
      {%- endif -%}
  {%- endfor %}
  </ul>

 <h3><a href="/south-bay/">South Bay Hikes</a></h3>
  <p>The Valley of Heart's Delight was once famous for its fresh fruit, flowering trees, and scenic beauty. Today, the orchards are gone, but the hills remain, standing resolute above the traffic jams and sprawl. <a href="/south-bay/">Read&nbsp;more&nbsp;»</a></p>
  <ul>
  {%- assign pages_list = site.pages | sort:"url" -%}
  {%- for node in pages_list -%}
      {%- if node.title != null -%}
      {% if node.region == "south-bay" %}
      <li class="hike" data-difficulty="{{ node.difficulty }}" data-tags="{{ node.tags }}"><a href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
      {%- endif -%}
      {%- endif -%}
  {%- endfor %}
  </ul>

<div class="filter-container">
  <div class="filter-narrow">
  <b>Filter by difficulty</b>
  <div class="message" id="difficulty-selector"></div>
  </div>

  <div class="filter-wide">
  <b>Filter by tag</b>
  <div class="message" id="tag-selector"></div>
  </div>
</div>

</div>
<hr>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h1>
    <span class="post-date">{{ post.date | date_to_string }}</span>
    {{ post.excerpt }}
  </div>
  {%- endfor -%}
</div>

<div class="pagination">
  {%- if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {%- else %}
    <span class="pagination-item older">Older</span>
  {%- endif %}
  {%- if paginator.previous_page %}
    {%- if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {%- else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {%- endif %}
  {%- else %}
    <span class="pagination-item newer">Newer</span>
  {%- endif %}
</div>
