<div class="posts">
<hr>
To register for notifications about future events, <a href="https://docs.google.com/forms/d/e/1FAIpQLSdAlFGvGSKRyt6ri-lLNEvcCkrHgNATMYvdxIZw-bfXFIZOHg/viewform?entry.839337160=Emails+about+upcoming+transit-accessible+hike+events" target="_blank">sign up here!</a>

<br><br>

This website is a labor of love for the outdoors. If you have any suggestions, places I've missed, or questions please reach out! You can contact me at <a href="mailto:contact@hikingbytransit.com"><i>contact@hikingbytransit.com</i></a>, or <a href="https://bsky.app/profile/tsch.uy">follow me on Bluesky</a>.
</div>
