<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <meta property="og:title" content="{{ page.title }} - {{ site.title }}">
  <meta property="og:image" content="{% if page.image %}{{ '/assets/' | append: page.image | absolute_url}}{% else %}{{ '/assets/preview.png' | absolute_url }}{% endif %}">
  <meta property="og:description" content="Trailheads that are convenient to get to by bus, train, or ferry in the San Francisco Bay Area">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:type" content="website">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if page.url and site.baseurl %}
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% endif %}

  <link rel="stylesheet" href="{{ '/public/css/poole.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/syntax.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/lanyon.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/custom.css' | absolute_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/public/apple-touch-icon-precomposed.png' | absolute_url }}">
  <link rel="shortcut icon" href="{{ '/public/favicon.ico' | absolute_url }}">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | absolute_url }}">

  <script type="module" crossorigin src="{{ '/public/js/olmap.js' | absolute_url }}"></script>
  <link rel="stylesheet" crossorigin href="{{ '/public/css/olmap.css' | absolute_url }}">
  <script src="{{ '/public/js/script.js' | absolute_url }}"></script>
</head>
