
<div id="promo">
    <div id="sidebar-toggle-phantom">
    </div>
    <div id="promo-interior">
        <!--
        Consider supporting the site <a href="https://ko-fi.com/hikingbytransit">on my new Ko-Fi</a>!<br>
        Or, sign up for <a href="https://docs.google.com/forms/d/e/1FAIpQLSdAlFGvGSKRyt6ri-lLNEvcCkrHgNATMYvdxIZw-bfXFIZOHg/viewform?entry.839337160=Emails+about+upcoming+transit-accessible+hike+events">emails about events</a>!
        -->
        Read the Hiking by Transit op-ed in the Chronicle:<br><a href="https://www.sfchronicle.com/opinion/openforum/article/ac-transit-realign-bus-20786817.php" target="_blank"><b>The East Bay just got some good, and much-needed, transit news</b><br>AC Transit is launching its new Realign bus network, which will connect residents with beautiful parks in the East Bay hills</a>
    </div>
    <div id="promo-dismiss"><a href="#" onclick="dismissPromo('Sun, 10 Aug 2025 09:00:00 UTC'); return false;">DISMISS</a></div>
</div>