<div id="promo" width="100%" style="display: none; background-color: black; color: white; padding: 10px; text-align: center; font-size: 1.3em;">
    <div style="max-width: 46rem; margin: auto;">
    <a style="color: white" href="https://www.eventbrite.com/e/transit-month-hike-joaquin-miller-park-tickets-692865839377">September is Transit Month! Come celebrate car-free hiking through the redwoods in Oakland's Joaquin Miller Park on Sunday, September 24th, with an introduction from Oakland Councilmember Carroll Fife.</a> 
</div>
<div style="text-align: right; max-width: 46em;  margin: auto;"><a style="color: white; font-size: 0.8em" href="#" onclick="dismissPromo('Tues, 26 Sep 2023 00:00:00 UTC'); return false;">DISMISS</a></div>
</div>
