<!--
<div id="promo">
    <div id="sidebar-toggle-phantom">
    </div>
    <div id="promo-interior">
        Consider supporting the site <a href="https://ko-fi.com/hikingbytransit">on my new Ko-Fi</a>!<br>
        Or, sign up for <a href="https://docs.google.com/forms/d/e/1FAIpQLSdAlFGvGSKRyt6ri-lLNEvcCkrHgNATMYvdxIZw-bfXFIZOHg/viewform?entry.839337160=Emails+about+upcoming+transit-accessible+hike+events">emails about events</a>!</div>
    <div id="promo-dismiss"><a href="#" onclick="dismissPromo('Tues, 14 Jan 2025 00:00:00 UTC'); return false;">DISMISS</a></div>
</div>-->