---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% if page.image %}<img class="region-image" src="/assets/{{ page.image }}"><hr>{% endif %}

  {% if page.map-embed %}
  <div id="map-embed">
    <iframe src="{{ page.map-embed }}" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  {% endif %}

  {% if page.served != "daily" %}
  <p class="message">This trailhead is not served seven days a week. Check schedules before leaving.</p>
  {% endif %}

  <div class="infobox">
    <p class="message">
      This hike has been rated {% if page.difficulty-human %}{{ page.difficulty-human }}{% else %}{{ page.difficulty }}{% endif %}.
    </p>

    <div class="infobox-child"><a href="{{ page.park-link }}">Park Information</a></div>
    <div class="infobox-child"><span class="infobox-title">Distance</span><br><span class="infobox-value">{{ page.length }}</span></div>
    <div class="infobox-child"><span class="infobox-title">Travel time</span><br><span class="infobox-value">{{ page.travel-time }} from {{ page.travel-time-from }}</span></div>
    <div class="infobox-child"><span class="infobox-title">Transit stop served</span>: <span class="infobox-value">{{ page.served }}</span></div>
    <div class="infobox-child"><span class="infobox-title">Transit stop</span>: <span class="infobox-child"><a href="{{ page.transit-stop-link }}">Open in Maps</a></span></div>
    <div class="infobox-child"><span class="infobox-title">Trailhead</span>: <span class="infobox-child"><a href="{{ page.trailhead-link }}">Open in Maps</a></span></div>
    <div class="infobox-child"><span class="infobox-title">Hike route</span>: <span class="infobox-child">{% if page.hike-link %}<a href="{{ page.hike-link }}">Open in Google Maps</a>{% endif %}{% if page.gpx %}<a href="/assets/gpx/{{ page.gpx }}">Download GPX file</a>{% endif %}</span></div>
  </div>

  {% if page.getting-there %}<p class="message">{{ page.getting-there }}</p>{% endif %}

  {{ content }}

  {% if page.gpx %}<div class="map" data-gpx="{{ page.gpx }}"></div>{% endif %}
  <hr>
</div>
